body {
        background-color: rgb(20, 20, 49);
        color: black;
}

h1{
color: rgb(4, 4, 124);
text-align: center
}

h2{
color: black;
text-align: center;
}

p{
font-size: 16px;
color: grey;
font-weight: bold;
text-align: center;
}
ul{
    color: white;
}
li{
    color:azure;
}
img{
    margin-right: 50%;
    margin-left: 30%;
    border-width: 10;
    border-left: 10;
    border-top: 10;
    border-bottom: 10;
    border: solid;
    border-color: azure;
    border-radius: 20%;
}